tg_bot_token=12345:tokenABC
chats_list=123 456 789 1011
message_postfix=[Monitoring system io]
is_tg_enabled=False
is_highlighter_enabled=False
highlighter_pause=7200
highlighter_problems_pause=900
enable_export=True
metrics_endpoint_ipv4_port=127.0.0.1:65400